---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken: xxxxxxxxxxxxxxx5xxxxxxxxxxxxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 1077080,
            "kind": "project",
            "name": "Tracker API",
            "version": 11,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone",
              "olson_name": "America/Denver",
              "offset": "-06:00"
            },
            "velocity_averaged_over": 3,
            "number_of_done_iterations_to_show": 12,
            "has_google_domain": false,
            "enable_incoming_emails": true,
            "initial_velocity": 10,
            "public": false,
            "atom_enabled": false,
            "start_time": "2014-05-05T06:00:00Z",
            "created_at": "2014-05-09T16:31:37Z",
            "updated_at": "2014-05-09T16:31:37Z",
            "account_id": 622224,
            "current_iteration_number": 1,
            "enable_following": true
          },
          {
            "id": 1056960,
            "kind": "project",
            "name": "Ski Bucket List",
            "version": 197,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone",
              "olson_name": "America/Denver",
              "offset": "-06:00"
            },
            "velocity_averaged_over": 3,
            "number_of_done_iterations_to_show": 12,
            "has_google_domain": false,
            "description": "This application tracks the ski areas I've skied and lists the areas I'd like to ski before I die. It is a gSchool learning exercise.",
            "enable_incoming_emails": true,
            "initial_velocity": 10,
            "public": false,
            "atom_enabled": false,
            "start_time": "2014-04-07T06:00:00Z",
            "created_at": "2014-04-09T17:01:30Z",
            "updated_at": "2014-04-09T20:27:23Z",
            "account_id": 622224,
            "current_iteration_num[...]
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1077080/stories/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken: xxxxxxxxxxxxxx5xxxxxxxxxxxxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '11'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 71035104,
            "created_at": "2014-05-06T06:00:00Z",
            "updated_at": "2014-05-09T19:36:33Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view all of my projects",
            "description": "Given I'm on the homepage\nWhen I click on \"View Projects\"\nI see a list of all projects\n\n---\nUse your own API token. Make sure you don't commit it (dotenv-rails). (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "delivered",
            "requested_by_id": 946495,
            "project_id": 1077080,
            "url": "https://www.pivotaltracker.com/story/show/71035104",
            "owner_ids": [
              946495
            ],
            "labels": [

            ],
            "owned_by_id": 946495
          },
          {
            "kind": "story",
            "id": 71035106,
            "created_at": "2014-05-06T06:00:00Z",
            "updated_at": "2014-05-09T20:21:32Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "As a user, I can view all of the stories for a project",
            "description": "Given I'm go to the homepage\nWhen I click on a project\nI see a list of all of that projects stories",
            "current_state": "delive[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1077080/stories/71035104/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken: xxxxxxxxxxxxxx5xxxxxxxxxxxxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '11'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68858856,
            "story_id": 71035104,
            "text": "This is a test comment on the first story",
            "person_id": 534749,
            "created_at": "2014-05-06T00:00:00Z",
            "updated_at": "2014-05-09T16:33:26Z"
          },
          {
            "kind": "comment",
            "id": 68858858,
            "story_id": 71035104,
            "text": "This is a second test comment on the first story",
            "person_id": 534749,
            "created_at": "2014-05-06T00:00:00Z",
            "updated_at": "2014-05-09T16:33:26Z"
          }
        ]
  recorded_at: Sun, 11 May 2014 13:12:42 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1077080/stories/71035116/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken: xxxxxxxxxxxxxx5xxxxxxxxxxxxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '11'
    body:
      encoding: UTF-8
      string: |-
        [

        ]
  recorded_at: Sun, 11 May 2014 13:12:44 GMT
recorded_with: VCR 2.9.0
